@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#body_delSec{
    max-width:650px;
    height:auto;
    background-color:#f0edeb;
    padding:30px 25px 60px;
    margin:auto;
    }

.del_raccoonline{
    max-width:400px;
    height:30px;
    background: url(https://iili.io/K7h2m12.png) 50% 80%/cover;
    margin:auto;

.del_sig{
    width:95%;
    font-size:25px;
    color:#31314b;
    font-family:Birthstone, cursive;
    text-align:right;
    text-align: justify;
}

.del_text{
    width:90%;
    padding:0px 15px;
    margin:auto;
    color:#636363;
    font-family: Chakra Petch, sans-serif;
    font-size: 16px;
    text-align: justify;
}
