@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#Maplerd10main {
  max-width:950px;
  height:250px;
  margin:auto;
}

.Mapleflex {
  max-width:95%;
  padding:10px;
  margin:0px auto 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nametag {
  font-size:18px;
  font-weight:500;
  font-family:Chakra Petch, sans-serif;
}

.datetag {
  font-size:18px;
  font-weight:500;
  font-family: Chakra Petch, sans-serif;
}

.imageflex {
  max-width:80%;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items: flex-end;
  justify-content: center;
  transform: translate(0%, -220px);
  align-content:flex-end;margin:0 auto;
}

.Mapleig1 {
  width:92%;
  aspect-ratio: 1/1;
  border: 3px solid #fff;
  transform: translate(2rem, -0rem) rotate(-19deg);
  filter: drop-shadow(0 0 0.75rem #131313);
}

.Mapleig2 {
  width:100%;
  aspect-ratio: 1/1;
  border: 3px solid #fff;
  position: relative;
  z-index: 9999;
  filter: drop-shadow(0 0 0.75rem #131313);
}

.Mapleig3 {
  width:92%;
  aspect-ratio: 1/1;
  border: 3px solid #fff;
  transform: translate(-2rem, -0rem) rotate(19deg);
  filter: drop-shadow(0 0 0.75rem #131313);
}

.Maplepaper {
  max-width: 900px;
  min-height: 300px;
  background: url(https://iili.io/fmqHvYx.md.png) 50% 0%/cover;
  padding:100px 25px 35px;
  margin:auto;
}

.mapledisname {
  max-width:90%;
  margin:10px auto 0px; 
  color: #636363;
  font-family: Chakra Petch, sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight:bold;
  margin-top:-200px;
}

.mapletitle {
  max-width:90%;
  margin:auto;
  color:#636363;
  font-family:Chakra Petch, sans-serif;
  font-size:18px;
  text-align:center;
}

.lineheight {
  width:2px;
  height:50px;
  background:#636363;
  margin:auto;
}

.mapletxrole {
  max-width:85%;
  margin:0px auto;
  color:#636363;
  font-family: Chakra Petch, sans-serif;
  font-size: 18px;
  text-align:justify;
}

.mapleno {
  color:#636363;
  font-family:Chakra Petch, sans-serif;
  font-size: 18px;
  font-weight:bold;
}

.maplebot {
  max-width: 950px;
  height: 40px;
  padding-top:10px;
  margin:auto;
  font-family:Chakra Petch, sans-serif;
  font-size: 18px;
  text-align:center;
  color:#b9b9b9;
}
