@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#Maplerd10rm {
  max-width:950px; 
  height:300px;
  margin:auto;
}
.Mapleflexrm { 
  max-width:95%;
  padding:10px;
  margin:0px auto 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.nametagrm {
  font-size:18px;
  color:#b9b9b9;
  font-weight:500;
  font-family:Chakra Petch, sans-serif;
}
.roomtagmp {
  font-size:18px;
  color:#b9b9b9;
  font-weight:500;
  font-family: Chakra Petch, sans-serif;
}
 .pamaprm {
   max-width:900px;
   min-height:300px;
   background:url(https://iili.io/fmqHvYx.md.png) 50% 0%/cover;
   padding:100px 25px 35px;
   margin:auto;
 }
.roomimflex {
  max-width:80%;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap:30px;
  justify-items:center;
  margin:0 auto;
  justify-content:center;
  transform:translate(0%, -220px);
}
.rmimo {
  width:100%;
  aspect-ratio: 1/1;
  border: 3px solid #fff;
}
.namerm {
  max-width:90%;
  margin:10px auto 0px;
  color: #636363;
  font-family:Chakra Petch, sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight:bold;
  margin-top:-230px;
}
.txnarm {
  max-width:90%;
  margin:auto;
  color: #636363;
  font-family: Chakra Petch, sans-serif;
  font-size: 18px;
  text-align:center;
}
.txroletx {
  max-width:85%;
  margin:0px auto;
  color:#636363;
  font-family: Chakra Petch, sans-serif;
  font-size: 18px;
  text-align:justify;
}
.maplermbt {
  max-width: 950px;
  height: 40px;
  padding-top:10px;
  margin:auto;
  font-family: Chakra Petch, sans-serif;
  font-size: 18px;
  text-align: center;
  color:#b9b9b9;
}
