@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Dongle&display=swap');

:root {
  --MDXYIMCOSHOW:BLUE
  --MDXYIMCO:GREEN
  --MDXYMUSICIM:RED
}

#MDXYCOMTEXT{
  width:250px;
  min-height:300px;
  background:linear-gradient(135deg, rgb(219 219 219 / 85%), rgb(235 235 235 / 87%));
  backdrop-filter:blur(10px);
  border:1px solid rgba(255, 255, 255, 0.2);border-radius: 10px;
  box-shadow:1px -1px 0px 0px rgb(203 203 203 / 29%);padding:5px 0px;
  margin:auto;
  transform:translate(3rem, 19rem);
  position:absolute;
  color: #0c0c0c;
  font-family:'Bai Jamjuree',sans-serif;
  font-size:10px;
}

.MDXYINDENT {
  padding-left:15px;
}

.MDXYHR {
  border:none;
  height:1px;
  background:rgba(0, 0, 0, 0.10);
  margin: 6px 1px 5px;
}

.MDXYFLEXTAG {
  display:flex;
  flex-direction:row;
  gap: 8px;
  justify-content:flex-start;
  padding:5px 0;
}
.CIRCLECOLORTAG {
  width:12px;
  height:12px;
  border-radius: 50%;
  border:1px solid rgba(0, 0, 0, 0.1);
  background-color:var(--circlecolor)
}

.MDXYMAIN {
  width:500px;
  height:500px;
  background:linear-gradient(135deg, rgb(219 219 219), rgb(235 235 235));
  backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding:5px 0px 10px;
  margin:50px auto 200px;
}

.MDXYBARFLEX1 {
  max-width:490px;
  height:30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:nowrap;
  flex-direction:row;
  margin:auto;
}
  .MDXYBARFLEX2 {
    width:100px;
    height:30px;
    display:flex;
    align-items:center;
  }
    .MDXYBARFLEXCIRCLE {
      width:20px;
      height:20px;
      background:var(--circlecolor);
      border-radius:100px;
      margin:auto;
 }
      .MDXYBARNAME {
        width:355px;
        font-weight:700;
        font-style:normal;
        text-transform:uppercase;
        font-size:23px;
        text-align:center;
        line-height:1;
        color:#424242;
 }

.MDXYIMAGEFLEXMAIN {
  max-width:98%;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:flex-start;
  justify-content:space-around;
  margin:20px auto 0px;
 }
  .MDXYIMAGEFLEXCOLUMN {
    max-width:100px;
    height:430px;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
 }
  .MDXYIMCOLUMN1 {
    width:90px;
    height:130px;
    margin:0px auto 10px;
    box-shadow:0px 0px 0px 2px #fafafa, 0px 0px 0px 8px #a3a3a3;
    background:var(--MDXYIMCOSHOW);
   }    
      .MDXYIMCOLUMN2 {
        width:90px;
        height:130px;
        margin:10px auto;
        box-shadow:0px 0px 0px 2px #fafafa;
        background:var(--MDXYIMCO);
    }     
        .MDXYIMMAIN {
          width:300px;
          height:430px;
          margin-left:30px;
          box-shadow:-25px 0px 0px 14px #a3a3a3, 9px 0px 0px 14px #a3a3a3;
          background:var(--MDXYIMCOSHOW);
        }

.MDXYFACEID {
  width:80px;
  height:80px;
  background:url(https://iili.io/KePFD1R.png) center/80% no-repeat, linear-gradient(135deg, rgb(0 0 0 / 64%), rgb(42 42 42));
  backdrop-filter:blur(10px);
  border:1px solid rgba(255, 255, 255, 0.2);
  border-radius:15px;
  box-shadow:1px -1px 0px 0px rgb(203 203 203 / 29%);
  margin:20px auto 0px;
  transform:translate(-15.5rem, -29rem)
}

.MDXYMUBOX {
  width:150px;
  min-height:200px;
  background:linear-gradient(135deg, rgb(219 219 219 / 64%), rgb(235 235 235));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius:15px;
  box-shadow: 1px -1px 0px 0px rgb(203 203 203 / 29%);
  margin:auto;
  transform:translate(17rem, -33rem);
 }

.MDXYMUBAR {
  max-width:130px;
  height:20px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap:nowrap;
  flex-direction:row;
  margin:auto;
}

.MDXYMUCIRFLEX {
  width:35px;
  height:10px;
  display:flex;
  align-items:center;
}

.MDXYMUCIR {
  width:8px;
  height:8px;
  background:var(--circlecolor);
  border-radius:100px;
  margin:auto;
}

.MDXYMUMI {
  width:100px;
  font-weight:700;
  font-style:normal;
  text-transform:uppercase;
  font-size:7px;
  line-height:1;
  color: #424242;
  margin-left:20px;
}

.MDXYIMMU {
  width:130px;
  height:130px;
  margin:0px auto;
  background:var(--MDXYMUSICIM);
}

.MDXYSONA {
  width:100px;
  font-weight:500;
  font-style:normal;
  text-align:center;
  font-size:7px;
  line-height:1;
  color:#424242;
  margin:5px auto 0px
}

.MDXYPLTAG {
  width:130px;
  height:35px;
  margin:0px auto;
  background: url(https://iili.io/KeiGAlf.png) 50% 50%/cover;
}

.MDXYPOPUPMAIN {
  width: 250px;
  min-height: 230px;
  background: linear-gradient(135deg, rgb(219 219 219 / 64%), rgb(235 235 235));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 1px -1px 0px 0px rgb(203 203 203 / 29%);
  margin:auto;padding-bottom:20px;
  transform:translate(13rem, -30rem);
}

.MDXYPUMIM {
  width:70px;
  height:70px;
  margin:20px auto 10px;
  box-shadow:-1px 3px 6px 2px #6a6969;
  border: 5px solid #ffffff;
  border-radius:20px;
  background:var(--MDXYPOPIM);
}

.MDXYPUMTOPIC {
  font-size:12px;
  color:#3e3e3e;
  font-weight:bold;
  font-family:'Bai Jamjuree',sans-serif;
  margin:5px auto;
  text-align:center;
}
.MDXYPUMTEXT {
  color:#0c0c0c;
  font-family:'Bai Jamjuree',sans-serif;
  font-size:10px;
  text-align:justify;
  padding:0px 10px;
  margin:auto;
}
.MDXYBBOX {
  width:160px;
  height:15px;
  background-color: rgb(55 146 237 / 84%);
  border-radius:5px;padding:5px 15px 10px;
  box-shadow:inset 0px -3px 6px 0px rgb(25 72 131 / 39%);
  border:1px solid rgba(255, 255, 255, 0.3);
  margin:10px auto;font-size:12px;
  text-align:center  
}
.MDXYGBOX {
  width:160px;
  height:15px;
  background-color:rgb(131 131 131 / 60%);
  border-radius:5px;padding:5px 15px 10px;
  box-shadow: inset 0px -3px 6px 0px rgb(80 80 80 / 34%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin:10px auto;
  font-size:12px;
  text-align:center;
}
