@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=REM:ital,wght@0,500;1,500&display=swap');

#maindesigncr {
    width: 500px;
    height: 230px;
    background-color: #eff1ea;
    margin: auto;font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
}
.flexdesigncr {
    width: 490px;
    height: 50px;
    margin: auto;display:flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
}
.GradientLEDCR {
    background: url(https://iili.io/K0X145l.gif) 50% 0%/cover;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
}
.barcodecr {
    width: 47px;
    height: 120px;
    background: url(https://iili.io/K0X1Ugf.gif) 50% 50%/cover;
    padding:10px 5px 5px 0px;
    margin:auto;
    transform: translate(13rem, -9rem);


}
.textbarcodecr {
    writing-mode:vertical-lr;
    font-family: "Libre Barcode 128", system-ui;
    font-style: normal;
    font-size: 60px;
    color:#231f38;
    line-height: 0.5;
}
